<!DOCTYPE html>
<html>
<head>
    <title>My Courses</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/mycourses">My Courses</a>
    <a href="/admin">Admin</a>
</div>

<div class="container">

<h1>View My Courses</h1>

<form method="POST">

    <label>Student Name</label>

    <input type="text"
           name="student_name"
           required>

    <button type="submit">
        Search
    </button>

</form>

{% if courses %}

<h2>Registered Courses</h2>

{% for course in courses %}
<div class="card">
    {{ course[0] }}
</div>
{% endfor %}

{% endif %}

</div>

<div class="footer">
    Course Registration System - AWS Two-Tier Architecture
</div>
</body>
</html>