<!DOCTYPE html>
<html>
<head>
    <title>My Courses</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/mycourses">My Courses</a>
    <a href="/admin">Admin</a>
</div>

<div class="container">

<h1>View My Courses</h1>

<form method="POST">

    <label>Student Name</label>

    <input
        type="text"
        name="student_name"
        placeholder="Enter your name"
        required>

    <button type="submit">
        Search
    </button>

</form>

{% for course in registrations %}
<div class="card">
    <h3>{{ course[0] }}</h3>
</div>

 {% endfor %}
</div>

<div class="footer">
    Course Registration System - AWS Two-Tier Architecture
</div>
</body>
</html>